_site
.sass-cache
Gemfile.lock

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## Plugin-specific files:

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml



