<p><i class="fa fa-google-plus-square fa-lg fa-fw"></i> <a href="https://plus.google.com/+SandyMeier/">+SandyMeier</a></p>
<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/s_meir" >@s_meir</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/smeir" >@smeir</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:smeier@tapnic.com">smeier@tapnic.com</a> (<a href="https://pgp.mit.edu/pks/lookup?search=0x4F62981DA297F7CB&op=index&fingerprint=on&exact=on">PGP Key</a>)</p>